---
title: "Interactive"
description: "Interactive Works"
active: interactive
items:
  - image_path: /img/looking_glass_logo.webp
    title: "lookingGlass"
    link: "/interactive/looking-glass/"
  - image_path: /img/weeksville_snapshot.webp
    title: "I heard an echo"
    link: "/interactive/i-heard-an-echo/"
  - image_path: /img/slider/on-progress.webp
    title: "'On Progress' With Professor Stewart Orwell Teric III"
    link: "/interactive/on-progress/"
  - image_path: /img/slider/untwined.webp
    title: "(Un)Twined"
    link: "/interactive/untwined/"
  - image_path: /img/THM.webp
    title: "The Heights Murders"
    link: "/interactive/heights-murders/"
---

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ "/css/selena.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/galleries.css" | prepend: site.baseurl }}">
</head>

<body class="gallery">

    {% include nav.html %}

	<section id="content" role="main">
		<div class="wrapper gallery-wrapper">
	
			<h2>{{page.title}}</h2>
			
			<!-- Gallery __-->
			<div class="gallery masonry-gallery">
				
{% for item in page.items %}  	

	               <figure class="gallery-item">
                         <figure class="effect-selena">
					<header class='gallery-icon'>
		       
<a href="{{ site.baseurl }}{{ item.link }}">
<img src="{{ site.baseurl }}{{ item.image_path }}" alt="{{ item.title }}"></a>

					</header>	
					<figcaption class='gallery-caption'>
						<div class="entry-summary">
							<h3>{{item.title}}</h3>
						</div>
					</figcaption>
                       </figure>
				</figure>
							
{% endfor %}		
				
			</div>
			
		</div><!-- END .wrapper -->
	</section>

<!-- jQuery -->    

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/retina.min.js"></script>
<!-- include Masonry -->
<script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script> 
<!-- include mousewheel plugins -->
<script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
<!-- include carousel plugins -->
<script src="{{ site.baseurl}}/js/jquery.tinycarousel.min.js"></script>
<!-- include svg line drawing plugin -->
<script src="{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
<!-- include custom script -->
<script src="{{ site.baseurl }}/js/scripts.js"></script>
<!-- Modernizr -->
 <script src="{{ site.baseurl }}/js/modernizr.js"></script>

</body></html>
